<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mb-5">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Flowers</h2>
            <p>Exploră universul nostru floral și adaugă o notă de prospețime și frumusețe în viața ta cu selecția noastră de flori proaspete și aranjamente elegante. </p>
          </div>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->
  
    <section id="services" class="services">
      <div class="container">
        <div class="row mb-5">
          <div class="row mb-5">
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" *ngFor="let item of products">
              <div class="block-4 text-center border product-container">
                <figure class="block-4-image product-image">
                  <a href=""><img [src]="'http://localhost:8080/products/' + item.id + '/photo'" alt="Image placeholder" class="img-fluid product-img"></a>
                </figure>
                <div class="block-4-text p-4 product-text">
                  <h3 class="product-title text-bold text-black">{{ item.productName }}</h3>
                  <br>
                  <p class="product-description text-italic text-small text-left ml-5">{{ item.productDetails }} + Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, omnis!</p>
                  <p class="product-price text-right text-red mr-5 text-bold">{{ item.productPrice }} Lei</p>
                  <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-outline-dark me-2" data-bs-toggle="button"><i class="bi bi-heart"></i></button>
                    <button class="btn" [ngClass]="{'btn-outline-dark': !item.addedToCart, 'btn-danger': item.addedToCart}" data-bs-toggle="button" (click)="addToCart(item)">
                      <i class="bi bi-cart"></i> {{ item.addedToCart ? 'Sterge din cos' : 'Adauga in cos' }}
                    </button>      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
    <!-- ======= Features Section ======= -->
    <!-- <section id="features" class="features">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>
  
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url(assets/img/features-1.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et
                  dolore magna aliqua.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up">
            <div class="card" style="background-image: url(assets/img/features-2.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Plan</a></h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium,
                  totam rem.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
  
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(assets/img/features-3.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni
                  dolores.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(assets/img/features-4.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Care</a></h5>
                <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium
                  voluptatem.</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section> -->
    <!-- End Features Section -->
  
  </main><!-- End #main -->