.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header .close {
    background-color: #f8f9fa;
    border: none;
    border-radius: 50%;
    padding: 0 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .5;
  }
  
  .modal-header .close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
  }
  
  .modal-title {
    margin: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
  }

  .btn-custom {
    background-color: #d4b672;
    border-color: #d4b672;
}
.btn-custom:hover {
    background-color: #bda55e;
    border-color: #bda55e;
}