<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href=""><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul class="navbar-nav flex-grow-1 justify-content-center flex-row">
        <li><a routerLink="/home" style="text-decoration: none;" routerLinkActive="active" ariaCurrentWhenActive="page">Acasa</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Evenimente
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/digital-invitations" routerLinkActive="active" ariaCurrentWhenActive="page">Invitatii digitale</a></li>
            <li><a class="dropdown-item" routerLink="/event-packages" routerLinkActive="active" ariaCurrentWhenActive="page">Pachete evenimente</a></li>
          </ul>
        </li>
        <li><a routerLink="/flowers" style="text-decoration: none;" routerLinkActive="active" ariaCurrentWhenActive="page">Florarie</a></li>
        <li><a routerLink="/gallery" style="text-decoration: none;" routerLinkActive="active" ariaCurrentWhenActive="page">Galerie</a></li>
        <li><a routerLink="/contact" style="text-decoration: none;" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      </ul>

      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <div class="d-flex">
      <!-- Modal for Favorites Items -->
      <ng-template #favoritesContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-favorites">Favorites</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let item of favorites">{{ item.name }}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>

      <!-- Modal for Cart Items -->
            <ng-template #cartContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-cart">Cart</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li *ngFor="let item of cart">{{ item.name }}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>

      <button class="btn btn-outline-dark me-2" (click)="openFavorites(favoritesContent)"><i class="bi bi-heart"></i></button>
      <button class="btn btn-outline-dark me-2" routerLink="/login"><i class="bi bi-person"></i></button>
      <button class="btn btn-outline-dark" (click)="openCart(cartContent)"><i class="bi bi-cart"></i></button>      
    </div>

  </div>
</header>