<!-- ======= Footer ======= -->
<footer id="footer" class="py-3 mt-3">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center"> <!-- Added class to center the columns -->
                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Gifts and Events by RDM</h3>
                    <p>Bucură-te de frumusețea naturii cu Gifts and Events by RDM - destinația ta online pentru flori proaspete și aranjamente florale elegante. Inspirăm și aducem bucurie în fiecare moment special al vieții tale, de la cele mai mici gesturi de apreciere la cele mai mari evenimente. </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Str. Geroge Bacovia, nr.1, Nedelea, 107027, Romania 
                        <br>
                        <strong>Phone:</strong> +40734577514<br>
                        <strong>Email:</strong> gifteventsbyrdm&#64;gmail.com<br>
                    </p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">         <div class="copyright">             &copy; Copyright <strong><span>Gifts and Events by RDM</span></strong>. All Rights Reserved         </div>         <div class="credits">             Designed by <a href="">RDM</a>         </div>     </div>
</footer><!-- End Footer -->

