<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Gifts and Events by RDM</h3>
                    <p>Un text</p>
                </div>

              

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Str. Moinești nr. 67 <br>
                        București 077042<br>
                        Romania <br>
                        <strong>Phone:</strong> +40736641602<br>
                        <strong>Email:</strong> info&#64;example.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

             

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Gifts and Events by RDM</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="">Florin</a>
        </div>
    </div>
</footer><!-- End Footer -->

