<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs mb-5">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Flowers</h2>
          <p>flori de cumparat avem </p>
        </div>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <section id="services" class="services">
    <div class="container">
      <div class="row mb-5">
        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
          <div class="block-4 text-center border">
            <figure class="block-4-image">
              <a href=""><img src="../assets/img/portfolio/portfolio-1.jpg" alt="Image placeholder"
                  class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
              <h3><a href="">Tank Top</a></h3>
              <p class="mb-0">Finding perfect t-shirt</p>
              <p class="text-primary font-weight-bold">$50</p>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-dark me-2" data-bs-toggle="button"><i class="bi bi-heart"></i></button>
                <button class="btn btn-outline-dark" data-bs-toggle="button"><i class="bi bi-cart"></i> Adauga in cos</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
          <div class="block-4 text-center border">
            <figure class="block-4-image">
              <a href=""><img src="../assets/img/portfolio/portfolio-1.jpg" alt="Image placeholder"
                  class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
              <h3><a href="">Corater</a></h3>
              <p class="mb-0">Finding perfect products</p>
              <p class="text-primary font-weight-bold">$50</p>
              <button class="btn btn-outline-dark me-2" data-bs-toggle="button"><i class="bi bi-heart"></i></button>
              <button class="btn btn-outline-dark" data-bs-toggle="button"><i class="bi bi-cart"></i> Adauga in cos</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
          <div class="block-4 text-center border">
            <figure class="block-4-image">
              <a href=""><img src="../assets/img/portfolio/portfolio-1.jpg" alt="Image placeholder"
                  class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
              <h3><a href="">Polo Shirt</a></h3>
              <p class="mb-0">Finding perfect products</p>
              <p class="text-primary font-weight-bold">$50</p>
              <button class="btn btn-outline-dark me-2" data-bs-toggle="button"><i class="bi bi-heart"></i></button>
              <button class="btn btn-outline-dark" data-bs-toggle="button"><i class="bi bi-cart"></i> Adauga in cos</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
          <div class="block-4 text-center border">
            <figure class="block-4-image">
              <a href=""><img src="../assets/img/portfolio/portfolio-1.jpg" alt="Image placeholder"
                  class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
              <h3><a href="">T-Shirt Mockup</a></h3>
              <p class="mb-0">Finding perfect products</p>
              <p class="text-primary font-weight-bold">$50</p>
              <button class="btn btn-outline-dark me-2" data-bs-toggle="button"><i class="bi bi-heart"></i></button>
              <button class="btn btn-outline-dark" data-bs-toggle="button"><i class="bi bi-cart"></i> Adauga in cos</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
          <div class="block-4 text-center border">
            <figure class="block-4-image">
              <a href=""><img src="../assets/img/portfolio/portfolio-1.jpg" alt="Image placeholder"
                  class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
              <h3><a href="">Corater</a></h3>
              <p class="mb-0">Finding perfect products</p>
              <p class="text-primary font-weight-bold">$50</p>
              <button class="btn btn-outline-dark me-2" data-bs-toggle="button"><i class="bi bi-heart"></i></button>
              <button class="btn btn-outline-dark" data-bs-toggle="button"><i class="bi bi-cart"></i> Adauga in cos</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
          <div class="block-4 text-center border">
            <figure class="block-4-image">
              <a href=""><img src="../assets/img/portfolio/portfolio-1.jpg" alt="Image placeholder"
                  class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
              <h3><a href="">Tank Top</a></h3>
              <p class="mb-0">Finding perfect t-shirt</p>
              <p class="text-primary font-weight-bold">$50</p>
              <button class="btn btn-outline-dark me-2" data-bs-toggle="button"><i class="bi bi-heart"></i></button>
              <button class="btn btn-outline-dark" data-bs-toggle="button"><i class="bi bi-cart"></i> Adauga in cos</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- ======= Features Section ======= -->
  <!-- <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card" style="background-image: url(assets/img/features-1.jpg);">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et
                dolore magna aliqua.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up">
          <div class="card" style="background-image: url(assets/img/features-2.jpg);">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Plan</a></h5>
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium,
                totam rem.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card" style="background-image: url(assets/img/features-3.jpg);">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Vision</a></h5>
              <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni
                dolores.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card" style="background-image: url(assets/img/features-4.jpg);">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Care</a></h5>
              <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium
                voluptatem.</p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section> -->
  <!-- End Features Section -->

</main><!-- End #main -->