<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="fade-up">
    <h1>Welcome to Gifts and Events by RDM</h1>
    <h2>
      Bine ati venit la Gifts and Events by RDM, locatia unde armonia florala se
      imbina cu ornamente de cea mai buna calitate!
    </h2>
    <a href="#main" class="btn-get-started scrollto">Learn more</a>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-11">
          <div class="row justify-content-end">
            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                <p>Happy Clients</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                <p>Projects</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="bi bi-clock"></i>
                <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                <p>Years of experience</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="bi bi-award"></i>
                <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                <p>Awards</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 video-box align-self-baseline position-relative">
          <img src="../assets/img/about.jpg" class="img-fluid" alt="" />
        </div>

        <div class="col-lg-6 pt-3 pt-lg-0 content">
          <h3>About us</h3>
          <p class="fst-italic">Cateva detalii despre compania noastra:</p>
          <ul>
            <li><i class="bx bx-check-double"></i> Cele mai fresh flori.</li>
            <li><i class="bx bx-check-double"></i> Cel mai frumos design.</li>
            <li>
              <i class="bx bx-check-double"></i> Cele mai frumoase aranjamente.
            </li>
            <li><i class="bx bx-check-double"></i> Cea mai serioasa echipa.</li>
          </ul>
          <p>
            Deschideți ușile unui univers al frumuseții și eleganței la
            magazinul nostru de flori și obiecte ornamentale! Cu o gamă largă de aranjamente florale proaspete și creative,
            împreună cu obiecte ornamentale spectaculoase, suntem dedicati să
            transformăm fiecare ocazie într-un eveniment memorabil și de neuitat.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title pt-5" data-aos="fade-up">
        <h2>Our Services</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img src="../assets/img/evenimente_cat.png" class="card-img-top" alt="Image description" />
            <div class="card-body">
              <h4 class="card-title text-center">
                <a style="text-decoration: none;" routerLink="/about"
                  routerLinkActive="active" ariaCurrentWhenActive="page">Evenimente</a>
              </h4>
              <p class="card-text text-center">
                Verifica ultimele noutati din categoria evenimentelor.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img src="../assets/img/flori_cat.jpg" class="card-img-top" alt="Image description" />
            <div class="card-body">
              <h4 class="card-title text-center">
                <a style="text-decoration: none" routerLink="/services" routerLinkActive="active"
                  ariaCurrentWhenActive="page">Florarie</a>
              </h4>
              <p class="card-text text-center">
                Verifica cele mai frumoase aranjamente florale </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
<!-- ======= Top Products Gallery Section ======= -->
<section id="top-products" class="top-products">
  <div class="container">
    <div class="section-title pt-5" data-aos="fade-up">
      <h2>Galeria produselor noastre de top</h2>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3">
              <img src="../assets/img/1.png" class="d-block w-100 centered-image" alt="Top product 1">
            </div>
            <div class="col-md-3">
              <img src="../assets/img/2.png" class="d-block w-100 centered-image" alt="Top product 2">
            </div>
            <div class="col-md-3">
              <img src="../assets/img/3.png" class="d-block w-100 centered-image" alt="Top product 3">
            </div>
            <div class="col-md-3">
              <img src="../assets/img/4.png" class="d-block w-100 centered-image" alt="Top product 4">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-3">
              <img src="../assets/img/5.png" class="d-block w-100 centered-image" alt="Top product 3">
            </div>
            <div class="col-md-3">
              <img src="../assets/img/6.png" class="d-block w-100 centered-image" alt="Top product 4">
            </div>
            <div class="col-md-3">
              <img src="../assets/img/7.png" class="d-block w-100 centered-image" alt="Top product 5">
            </div>
            <div class="col-md-3">
              <img src="../assets/img/8.jpg" class="d-block w-100 centered-image" alt="Top product 6">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- End Top Products Gallery Section -->
  
</main>
<!-- End #main -->